---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Adevelop/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:develop/processes/3ce872ae990f93fb9f332d89c03fbfb16f2aa306"
      x-lokalise-process-id:
      - e43b7dfc-e5bc-4a50-b755-82b92b27975f
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"develop","process":{"process_id":"3ce872ae990f93fb9f332d89c03fbfb16f2aa306","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2022-01-27
        16:12:08 (Etc\/UTC)","created_at_timestamp":1643299928}}'
  recorded_at: Thu, 27 Jan 2022 16:12:08 GMT
recorded_with: VCR 6.0.0
