---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"LS0tCmVuOgogIGtleV8xOiB2YWx1ZSAx","filename":"en_1.yml","lang_iso":"en"}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/3452ecf1652723b8fec8320e6fd8f7e0f008e8e7"
      x-lokalise-process-id:
      - 500bac42-61bc-4826-88b7-93f2714d5589
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"3452ecf1652723b8fec8320e6fd8f7e0f008e8e7","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2022-01-27
        16:12:09 (Etc\/UTC)","created_at_timestamp":1643299929}}'
  recorded_at: Thu, 27 Jan 2022 16:12:09 GMT
[...]
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/77ac96109af1ee31884ca5126f6ab1556d0b39f3"
      x-lokalise-process-id:
      - c92275b3-8bd9-4883-addb-6124719bac69
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"77ac96109af1ee31884ca5126f6ab1556d0b39f3","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2022-01-27
        16:12:14 (Etc\/UTC)","created_at_timestamp":1643299934}}'
  recorded_at: Thu, 27 Jan 2022 16:12:14 GMT
recorded_with: VCR 6.0.0
