---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"LS0tCmVuOgogIGtleV8wOiB2YWx1ZSAw","filename":"en_0.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/4be1d9b531dde3ce452105be04ac0811e48ca9c8"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"4be1d9b531dde3ce452105be04ac0811e48ca9c8","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-14
        12:34:17 (Etc\/UTC)","created_at_timestamp":1634214857}}'
  recorded_at: Thu, 14 Oct 2021 12:34:18 GMT
[...]
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/4ea4755620af985b7d20ce05ec0dc683b24639b0"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"4ea4755620af985b7d20ce05ec0dc683b24639b0","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-14
        12:34:22 (Etc\/UTC)","created_at_timestamp":1634214862}}'
  recorded_at: Thu, 14 Oct 2021 12:34:22 GMT
recorded_with: VCR 6.0.0
