---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:master/processes/2d8e7779a630ee6bf22aca44f01e7e815fbe7877"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","process":{"process_id":"2d8e7779a630ee6bf22aca44f01e7e815fbe7877","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-13
        14:45:10 (Etc\/UTC)","created_at_timestamp":1634136310}}'
  recorded_at: Wed, 13 Oct 2021 14:45:10 GMT
recorded_with: VCR 6.0.0
