---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/9851c7bde8dbd14b3060f6b408ea3fb052aa2625"
      x-lokalise-process-id:
      - a001d58e-d22c-4fd2-8992-a0749d82b7ff
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"9851c7bde8dbd14b3060f6b408ea3fb052aa2625","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2022-01-27
        16:12:07 (Etc\/UTC)","created_at_timestamp":1643299927}}'
  recorded_at: Thu, 27 Jan 2022 16:12:08 GMT
recorded_with: VCR 6.0.0
