---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/788928e071d8ae95a4a4bb1978ee0e32a073a977"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"788928e071d8ae95a4a4bb1978ee0e32a073a977","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-14
        12:34:22 (Etc\/UTC)","created_at_timestamp":1634214862}}'
  recorded_at: Thu, 14 Oct 2021 12:34:23 GMT
recorded_with: VCR 6.0.0
