---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"LS0tCmVuOgogIGtleV8wOiB2YWx1ZSAw","filename":"en_0.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:master/processes/a0cc024ccf90fc71598fe9826e9325edb1b59233"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","process":{"process_id":"a0cc024ccf90fc71598fe9826e9325edb1b59233","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-13
        14:26:42 (Etc\/UTC)","created_at_timestamp":1634135202}}'
  recorded_at: Wed, 13 Oct 2021 14:26:42 GMT
[...]
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:master/processes/13a20fc32773d4fa9b317f42c42d268b4680fd99"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","process":{"process_id":"13a20fc32773d4fa9b317f42c42d268b4680fd99","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-13
        14:26:47 (Etc\/UTC)","created_at_timestamp":1634135207}}'
  recorded_at: Wed, 13 Oct 2021 14:26:47 GMT
recorded_with: VCR 6.0.0
