name: CI

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby:
          - '3.0'
          - 3.1
          - 3.2
          - 3.3
          - 3.4
          - 4.0
    runs-on: ${{ matrix.os }}
    env:
      LOKALISE_API_TOKEN: 123abc
      LOKALISE_PROJECT_ID: 672198945b7d72fc048021.15940510
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake rubospec
    - uses: qltysh/qlty-action/coverage@v2
      with:
        token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
        files: coverage/.resultset.json